<div>
  <link href="./content.css" rel="stylesheet" />
  <div class="content-content">
    <div class="content-main">
      <div class="content-branding">
        <div class="content-heading">
          <img
            alt="logo"
            src="public/Assets/new_logo-200h.png"
            class="content-logo"
          />
        </div>
      </div>
      <div class="content-links">
        <div class="content-items">
          <button class="content-link button button-clean">
            <span>Contact</span>
          </button>
          <button class="content-link1 button button-clean">
            <span>Pricing</span>
          </button>
          <button class="content-link2 button button-clean">
            <span>Book a Class</span>
          </button>
        </div>
      </div>
    </div>
    <p class="content-caption"><span>Made in CA with ❤️</span></p>
    <span class="content-copyright"><span>© 2023, think Spanish</span></span>
  </div>
</div>
